name: sliver_fill_remaining_box_adapter_example
description: Demonstrates how to use the sliver_fill_remaining_box_adapter plugin.
publish_to: 'none'

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  sliver_fill_remaining_box_adapter:
    path: ../

flutter:
  uses-material-design: true
